/* Border radius */
*{
    color : 'white'
}
.card {
    color : 'white';
    overflow: hidden;
    box-shadow: 0 1px 4px #C5DCDA;
    border-radius: 12px;
    transition: transform 200ms ease-in;
    background-color: #00867c;
    max-width: 95%;
}

.title{
    color : 'black';
    text-align: center;
    text-decoration: underline;
}
.card__name {
    margin: 10px 20px 2px 20px; 
}
.card__desc {
    padding: 1px 20px;
}
.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px 20px 2px 20px;
}

.card__host {
    padding: 2px 20px 2px 20px;
    margin: 2px 0px 2px 0px;
}
.card__status {
    border-radius: 2rem;
    padding: 5px 15px;
    margin: 2px 0px 2px 0px;
    background-color: #4db6ab;
}
.card__category {
    border-radius: 2rem;
    padding: 5px 15px;
    margin: 2px 0px 2px 0px;
    background-color: #4db6ab;
}

